@import url(http://fonts.googleapis.com/css?family=Oswald);

html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial;
}

body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1{
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

p{
	margin: 0;
	padding: 0;
	font-family: Arial;
}

span{
	margin: 0;
	padding: 0;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	margin: 0;
	padding: 0;
}

input:focus {
	outline:none;
}


/* (iPhone 2G - 4S = PORTRAIT) */
@media only screen and (min-width : 320px) and (min-height : 460px) {

	h1{
		font-size: 23px;
	}

	p{
		font-size: 16px;
	}

	/* --- RADIO VIEW --- */
	.wrapper{
		width: 320px;
		height: 460px;
		background: white;
	}

	.topNavigation{
		width: 100%;
		height: 44px;
		background: #edb9a2;
	}

	.topNavigation ul{
		width: 320px;
		height: 44px;
	}

	.topNavigation ul li{
		width: 160px;
		height: 44px;
	}

	.topNavigation ul li:first-child{
		float: left;
	}

	.topNavigation ul li:last-child{
		float: right;
	}

	.player{
		width: 202px;
		height: 202px;
		border-radius: 50%;
		margin: 15px auto 15px auto;
		background: url('http://i.imgur.com/Zb9MgJi.png') no-repeat center center;
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  	}

	.nextShow{
		width: 100%;
		height: 106px;
		background: #e5e5e5;
		padding: 10px 0 0 0;
	}

	.nextShow .holder{
		width: 246px;
		height: 96px;
		margin: 0px auto;
	}

	.nextShow .holder .left{
		width: 140px;
		height: 96px;
		padding: 0 10px 0 0;
		float: left;
	}

	.nextShow .holder .left p{
		padding-bottom: 16px;
	}


	.nextShow .holder .left span{
		padding: 8px;
		margin: 6px 0 0 0;
		background: black;
		color: white;
	}

	.nextShow .holder .right{
		width: 96px;
		height: 96px;
		background: blue;
		border-radius: 50%;
		float: right;
		background: url('http://i.imgur.com/buMOjcx.png') no-repeat center center;
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
	}

	#metaData{
		width: 100%;
		height: 68px;
		background: black;
	}

	#metaData #metaText{
		width: 222px;
		height: 38px;
		float: left;
		padding: 15px;
		color: white;
	}

	#metaData #metaShare{
		width: 68px;
		height: 68px;
		float: right;
	}

	audio{
		margin: 88px 0 0 25px;
	}

}

/* (iPhone 5 = PORTRAIT) */
@media only screen and (min-width : 320px) {

	/* FONTS */

	h1{
		font-size: 22px;
	}

	p{
		font-size: 16px;
	}

	/* --- RADIO VIEW --- */

	.wrapper{
		width: 320px;
		background: white;
	}

	.topNavigation{
		width: 100%;
		height: 44px;
		background: #edb9a2;
		list-style: none;
	}

	.topNavigation ul{
		width: 320px;
		height: 44px;
		font-weight: bold;
	}

	.topNavigation ul li{
		height: 44px;
		text-align: center;
		list-style: none;
		line-height: 44px;
		position: relative;
	}

	.topNavigation ul li:first-child{
		float: left;
		border-right: 1px solid #c79b88;
		width: 159px;
	}

	.topNavigation ul li:last-child{
		float: right;
		width: 160px;
	}

	#goToRadio .indicator{
		width: 142px;
		height: 6px;
		background: #ec652a;
		position: absolute;
		bottom: 0;
		right: 0;
	}

	#goToPodcasts .indicator{
		width: 142px;
		height: 6px;
		background: #ec652a;
		position: absolute;
		bottom: 0;
		left: 0;
		display: none;
	}

	.player{
		width: 272px;
		height: 272px;
		border-radius: 50%;
		margin: 24px auto 24px auto;
		background: url('http://i.imgur.com/Zb9MgJi.png') no-repeat center center;
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
	}

	.nextShow{
		width: 100%;
		height: 106px;
		background: #e5e5e5;
		padding: 10px 0 0 0;
	}

	.nextShow .holder{
		width: 226px;
		height: 96px;
		margin: 0px auto;
	}

	.nextShow .holder .left{
		width: 120px;
		height: 96px;
		padding: 0px 10px 0 0;
		float: left;
	}

	.nextShow .holder .left p{
		padding-bottom: 11px;
	}


	.nextShow .holder .left span{
		padding: 8px;
		margin: 4px 0 0 0;
		background: black;
		color: white;
	}

	.nextShow .holder .right{
		width: 96px;
		height: 96px;
		background: blue;
		border-radius: 50%;
		float: right;
		background: url('http://i.imgur.com/buMOjcx.png') no-repeat center center;
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
	}

	#metaData{
		width: 100%;
		height: 68px;
		background: black;
	}

	#metaData #metaText{
		width: 222px;
		height: 38px;
		float: left;
		padding: 15px;
		color: white;
	}

	#metaData #metaShare{
		width: 68px;
		height: 68px;
		float: right;
	}

	audio{
		margin: 128px 0 0 38px;
	}

	.browseNavigation{
		width: 208px;
		height: 44px;
		margin: 22px auto;
		background: black;
	}

	.browseNavigation ul{
		width: 208px;
		height: 44px;
		list-style: none;
	}

	.browseNavigation ul li{
		text-align: center;
		font-size: 16px;
	}

	.browseNavigation ul li:first-child{
		width: 104px;
		height: 44px;
		float: left;
		color: white;
		line-height: 44px;
	}

	.browseNavigation ul li:last-child{
		width: 98px;
		height: 38px;
		line-height: 38px;
		float: right;
		color: black;
		background: white;
		border: 3px solid black;
	}

	.search{
		width: 320px;
		height: 55px;
		margin: 0;
		padding: 0;
	}

	.search input[type=text]{
		width: 288px;
		height: 23px;
		padding: 16px;
		margin: 0;
		border: none;
		font-size: 16px;
		border-top: 1px solid #cfcfcf;
		-webkit-appearance: none
    	-webkit-border-radius:0;
    	-webkit-appearance: caret;
		-moz-appearance: caret;
    	border-radius:0;
	}

	.featured{
		width: 320px;
		height: 320px;
	}

	.featuredImage{
		width: 160px;
		height: 160px;
		float: left;
	}

	.featuredImage img{
		width: 144px;
	}

	.podMenu{
		width: 320px;
	}

	.podMenu ul{
		width: 320px;
		list-style: none;
	}

	.podMenu ul li{
		width: 288px;
		height: 23px;
		line-height: 23px;
		border-bottom: 1px solid #e5e5e5;
		padding: 16px;
		font-size: 16px;
	}

	#wizard{
		background: #e5e5e5;
		border-top: 1px solid #cfcfcf;
		overflow: auto;
	}

	#wizard ul{
		list-style: none;
	}

	#wizard ul li{
		width: 94px;
		height: 94px;
		background: white;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		margin: 8px 0 8px 0;
		text-align: center;
		line-height: 94px;
		border: 1px solid #d0d0d0;
	}

	.allMoods{
		width: 96px;
		float: left;
		margin: 0 8px 0 8px;
	}

	.allFeelings{
		width: 96px;
		float: left;
		margin: 0 8px 0 0;
	}

	.allLenght{
		width: 96px;
		float: left;
		margin: 0;
	}

	#categories{
		background: #e5e5e5;
		border-top: 1px solid #cfcfcf;
		overflow: auto;
	}

	#categories ul{
		list-style: none;
	}

	#categories ul li{
		width: 94px;
		height: 94px;
		background: white;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		margin: 8px 0 0 8px;
		text-align: center;
		line-height: 94px;
		border: 1px solid #d0d0d0;
		float: left;
	}

	.resultBoxes{
		width: 320px;
		overflow: auto;
	}

	.podSegment{
		width: 320px;
		overflow: auto;
	}

}

/* (Small tablet = PORTRAIT) */
@media only screen and (min-width : 600px) and (min-height : 800px) {

	/* --- RADIO VIEW --- */
	.wrapper{
		width: 600px;
		height: 800px;
		background: white;
	}

	.topNavigation{
		width: 100%;
		height: 44px;
		background: #edb9a2;
	}

	.player{
		width: 448px;
		height: 448px;
		border-radius: 50%;
		margin: 24px auto 24px auto;
		background: red;
	}

	.nextShow{
		width: 100%;
		height: 150px;
		background: #e5e5e5;
	}

	#metaData{
		width: 100%;
		height: 90px;
		background: black;
	}

}

/* (All ipads = PORTRAIT) */
@media (min-width: 768px) and (min-height : 1024px) {

	/* --- RADIO VIEW --- */
	.wrapper{
		width: 768px;
		height: 1024px;
		background: white;
	}

	.topNavigation{
		width: 100%;
		height: 88px;
		background: #edb9a2;
	}

	.player{
		width: 430px;
		height: 430px;
		border-radius: 50%;
		margin: 75px auto 75px auto;
		background: red;
	}

	.nextShow{
		width: 100%;
		height: 210px;
		background: #e5e5e5;
	}

	#metaData{
		width: 100%;
		height: 127px;
		background: black;
	}

}
